@import url("reset.css");

body {
  min-height: 100vh;
  display: block;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration-line: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p,
a,
li {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15em;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
p, li{
  font-size: 15px;
}

a {
  font-size: 10px;
}

.flex-parent {
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 115px;
}

.logo {
  background-color: white;
  height: 100px;
  width: 180px;
}

.contact {
  /* background-color: lightblue; */
  text-align: end;
  padding-right: 1em;
}

.title-image {
  background-image: url(/assets/building_banner.jpg);
  background-color: rgb(63, 63, 63);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5em;
}
.title-image a {
  color: white;
  padding-bottom: 1vw;
}

.title-image h1 {
  padding: 1em 1em;
  color: white;
}

.about {
  height: 382px;
}

.list {
  height: 276px;
}

@media (min-width: 350px) {
  .logo {
    width: 220px;
  }
  a {
    font-size: 11px;
  }
}

@media (min-width: 350px) {
  .logo {
    width: 220px;
  }
}

@media (min-width: 400px) {
  .logo {
    width: 270px;
  }
}
@media (min-width: 500px) {
  .logo {
    width: 320px;
  }
  a {
    font-size: 15px;
  }
}

@media (min-width: 850px) {
  .title-image h1 {
    padding: 1em 5em;
  }

  p {
    font-size: 15px;
  }
}
